@import url(inputs.css);
@import url(login-signup.css);

:root {
  --primary-color: #ac4425;
  --primary-shade: #af7361;
  --secondary-color: #224b0c;
  --secondary-shade: #aabe9f;
  --tertiary-color: #c1d5a4;
  --tertiary-shade: #8db750;
  --text: #2e383f;
  --gray: #2e383f;

  --montserrat: "Montserrat";
  --poppins: "Poppins";
}

* {
  margin: 0;
}

.h1 {
  font-family: var(--montserrat);
  font-weight: bold;
  font-size: 3rem;
}

.h2 {
  text-align: center;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1rem;
}

.link {
  font-family: var(--poppins);
  color: var(--secondary-color);
  text-decoration: none;
}

.link:hover {
  color: var(--secondary-shade);
}

/** BUTTONS */
.primary-button {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--poppins);
  padding: 0.5rem;
  width: 7rem;
  border: none;
  border-radius: 10px;
}

.primary-button:hover {
  background-color: var(--primary-shade);
  cursor: pointer;
}

.secondary-button {
  background-color: white;
  color: var(--text);
  font-family: var(--poppins);
  padding: 0.5rem;
  width: 7rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.secondary-button:hover {
  background-color: var(--primary-shade);
  cursor: pointer;
  border: none;
}

.tertiary-button {
  font-family: var(--poppins);
  font-weight: 500;
  padding: 0.5rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
}

/** HEADER **/
.header {
  padding: 0.5rem 1rem 0 1rem;
  margin: 0;
  box-shadow: 1px 1px 3px 3px lightgray;
  display: flex;
  justify-content: space-between;
}

.login-button {
  margin-right: 1rem;
}

.secondary-navbar {
  align-self: center;
}

.seconday-navbar-menu {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  font-family: var(--montserrat);
  font-size: 1rem;
  color: #21272a;
}

.seconday-navbar-item:first-child {
  margin-left: 0;
}

.seconday-navbar-item {
  margin: 1rem;
}

.right-side-nav {
  justify-self: center;
}

.menu-down-arrow {
  padding-left: 0.5rem;
}

.menu-down-arrow:hover {
  cursor: pointer;
}

.navbar-dropdown-menu {
  position: absolute;
  background: white;
  padding: 1rem 7rem 1rem 2rem;
  margin-top: 1rem;
  z-index: 100;
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  box-shadow: 0.5px 0.5px 3px 0px var(--gray);
}

.navbar-dropdown-menu-items {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 200;
  font-family: var(--poppins);
}

.navbar-dropdown-menu-item {
  margin-top: 0.5rem;
}

.cuisine-menu {
  left: 8.5rem;
}

.loggedin-nav {
  height: 3.2rem;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  border: 1.5px solid var(--primary-color);
  border-radius: 1rem;
  padding: 0 1.2rem;
}

.profile-pic {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
  margin-right: 1rem;
}

.hamburger-nav {
  align-self: center;
  cursor: pointer;
}

.profile-menu {
  top: 5rem;
  right: 1rem;
  border: 0.5px solid var(--primary-color);
}

.profile-menu-item {
  font-size: 1.1rem;
  font-weight: 500;
}

/* PHONES */
@media (max-width: 480px) {
  .first-navbar {
    width: 50%;
  }
}

/* TABLETS */
@media (max-width: 768px) {
  .login-box {
    padding: 2rem;
    width: 70%;
  }
}

@media (max-width: 992px) {
  .login-box {
    width: 60%;
  }
}

/** HOME PAGE **/
.main-page--background {
  height: 30rem;
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  background-image: url("/public/images/main-background.jpg");
  background-size: cover;
}

.main-page--rectangle {
  width: 55%;
  height: 50%;
  background-color: #fefefe;
  opacity: 0.9;
  padding: 5rem 5rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
}

.main-page--main-text {
  align-self: center;
}

.main-page--paragraph {
  margin-top: 0.8rem;
}

.main-page--butons {
  margin-top: 2rem;
}

.tertiary-btn-dark {
  background-color: var(--secondary-color);
  color: white;
  margin-right: 1rem;
}

.tertiary-btn-light {
  background-color: var(--tertiary-color);
  color: black;
}

.tertiary-btn-dark:hover {
  background-color: var(--secondary-shade);
  color: black;
  cursor: pointer;
}

.tertiary-btn-light:hover {
  background-color: var(--tertiary-shade);
  cursor: pointer;
}

@media (max-width: 718px) {
  .h1 {
    font-size: 2.3rem;
  }

  .main-page--rectangle {
    width: 90%;
    height: 70%;
    padding: 1rem;
  }
}

/** MAIN PAGE TOP RECIPES **/

.top-recipes {
  padding: 2rem;
  margin-bottom: 2rem;
  height: 100%;
}

.recipes-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.recipe-rating {
  position: absolute;
  right: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: none;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}
.recipe-box {
  width: 15rem;
  height: 100%;
  border: 1px solid var(--secondary-color);
  position: relative;
}

.recipe-box-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.recipe-info {
  padding: 0.5rem;
}

.recipe-box-course {
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.recipe-box-name {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 1.4rem;
}
.recipe-box-cuisine-prep,
.recipe-box-author {
  font-family: var(--poppins);
  font-size: 0.8rem;
}

.recipe-box-cuisine-prep {
  display: flex;
  justify-content: space-between;
}

.search-by-meal-section {
  background-color: #ececeb;
  padding: 2rem 0 4rem 0;
}

.search-by-meal-meals {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 2rem;
}

.meal-div {
  height: 100%;
  width: 12rem;
}

.meal-div-img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.meal-div-text {
  font-family: var(--montserrat);
  font-size: 1.5rem;
  font-weight: 700;
}

/** FOOTER **/

footer {
  background-color: var(--secondary-shade);
  height: 3rem;
  display: flex;
  justify-content: center;
}

.footer-text {
  align-self: center;
  font-family: var(--poppins);
  font-size: 0.7rem;
}
